<html>
    {{template "head"}}
    <body>
        {{template "navOut"}}
        <div class="container-fluid content-container theme-bg-alt pa-2 mx-1 theme-border-alt theme-text-highlighter">
            <div class="row">
                <div class="col mt-1 mr-1">
                    You've successfully registered :), navigate back to the homepage <a class="theme-text-alt" href="/">here</a>
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>