<html>
    {{template "head"}}
    <body>
        {{template "navIn"}}
        <div class="container-fluid content-container theme-bg-alt pa-2 mx-1 theme-border-alt">
            {{template "profileContent" .}}
            {{template "js"}}
        </div>
    </body>
</html>