<html>
    {{template "head"}}
    <body>
        {{template "navOut"}}
        <div class="container-fluid content-container theme-bg-alt pa-2 mx-1 theme-border-alt theme-text-highlighter">
            <div class="row">
                <div class="col">
                    You've missed your registration window, try again <a class=" theme-text-alt" href="/register">here</a>
                </div>
            </div>
            {{template "js"}}
        </div>
    </body>
</html>